html, body {
    position: relative;
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }

.begin {
    position: absolute;
    width: 400px;
    height: 200px;
    background: rgb(230, 230, 230);
    border-radius: 10px;
    top: 96px;
    left: 88px;
}

.text {
    font-family: sans-serif;
    font-size: larger;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}

button {
    display: block;
    margin: auto;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.contador {
    display: flex;
    position: absolute;
    left: 600px;
    top: 238px;
}

.contador img {
    width: 128px;
}

.contador span {
    font-family: sans-serif;
    font-size: 96px;
    font-weight: 700;
}

.timer {
    position: absolute;
    left: 600px;
    top: 60px;
    font-family: sans-serif;
    font-size: 96px;
    font-weight: 700;
}

.animation {
    
}